$text-color:            #fff;
$gris95:				#959595;
$font-family-sans-serif:  "Bebas","Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-h1:            92px;
$font-size-h2:            40px;
$font-size-h3:            25px;
$font-size-h4:            24px;
$font-size-base:          15.5px;
$line-height-base:        1.333;
$naranja: 				  #ff8a00;
$inicioDelay:			  0s;
$brand-danger: 			  #660000;
$state-danger-text:       #660000;


$squareTiny: 			12px;
$squareSmaller:			14px;
$squareSmall:			18px;
$squareNormal: 			28px;
$squareSemiBig:			38px;
$squareBig:				48px;